{% extends "movies/base.html"%}

{% block content %}
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ movie.title }}</h1>
        <p class="lead font-weight-normal">{{ movie.description }}</p>
        <a class="btn btn-outline-secondary" href="{% url 'add_review' movie.id %}">Добавить отзыв</a>
    </div>
    <h2 class="text-center">Отзывы</h2>
    {% for review in reviews %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p>{{ movie.title }}</p>
                            <div class="clearfix">
                            </div>
                            <p>{{ review.content }}</p>
                            <p>
                                <div class="float-right btn btn-outline-primary ml-2">{{ review.rating }}</div>
                                {% if review.status %}
                                    <div class="float-right btn btn-outline-primary ml-2">+</div>
                                {% else %}
                                    <div class="float-right btn btn-outline-primary ml-2">-</div>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    {% endfor %}
{% endblock %}